<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Address</key>
	<string>XX区XX路XX号</string>
	<key>AreaName</key>
	<string>XX区</string>
	<key>CarouselImages</key>
	<array>
		<dict>
			<key>ImageId</key>
			<string>1234</string>
			<key>ImageUrl</key>
			<string>http://h.hiphotos.baidu.com/zhidao/pic/item/0eb30f2442a7d9334f268ca9a84bd11372f00159.jpg</string>
		</dict>
		<dict>
			<key>ImageId</key>
			<string>1235</string>
			<key>ImageUrl</key>
			<string>http://thumbs.dreamstime.com/z/%D0%A1-%B3%E8%CE%EF-%B9%B7%A3%AC%C3%A8%A3%AC%C4%F1%A3%AC%C5%C0%D0%D0%B6%AF%CE%EF%A3%AC%CD%C3%D7%D3%A3%AC%B8%F4-%D4%DA%B0%D7%C9%AB-30336576.jpg</string>
		</dict>
		<dict>
			<key>ImageId</key>
			<string>1236</string>
			<key>ImageUrl</key>
			<string>http://a.hiphotos.baidu.com/zhidao/pic/item/f9dcd100baa1cd11aa2ca018bf12c8fcc3ce2d74.jpg</string>
		</dict>
	</array>
	<key>CityId</key>
	<string>1000</string>
	<key>CityName</key>
	<string>北京</string>
	<key>FacilityDescription</key>
	<string>提供一次性洗漱用品</string>
	<key>FastFilterInfo</key>
	<array>
		<dict>
			<key>KeyWord_cn</key>
			<string>房型筛选</string>
			<key>subFastFilterIns</key>
			<array>
				<dict>
					<key>KeyWord_cn</key>
					<string>早餐</string>
					<key>subFastFilterIns</key>
					<array>
						<dict>
							<key>KeyWord_cn</key>
							<string>不含早</string>
						</dict>
						<dict>
							<key>KeyWord_cn</key>
							<string>含单早</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>KeyWord_cn</key>
					<string>支付方式</string>
					<key>subFastFilterIns</key>
					<array>
						<dict>
							<key>KeyWord_cn</key>
							<string>预付</string>
						</dict>
						<dict>
							<key>KeyWord_cn</key>
							<string>到店付</string>
						</dict>
					</array>
				</dict>
			</array>
		</dict>
	</array>
	<key>FeatureInfo</key>
	<string>环境优越，交通便捷。
　　酒店开业时间2013年02月，主楼高3层，客房总数169间（套）。
 
【温馨提示】酒店只能接待持大陆身份证的客人（不可接待港澳台和外宾）</string>
	<key>GeneralAmenities</key>
	<string>24小时热水</string>
	<key>HotelId</key>
	<string>1111</string>
	<key>HotelName</key>
	<string>希尔顿大酒店</string>
	<key>ImagesUrlList</key>
	<array>
		<string>http://a.hiphotos.baidu.com/zhidao/pic/item/f9dcd100baa1cd11aa2ca018bf12c8fcc3ce2d74.jpg</string>
		<string>http://a.hiphotos.baidu.com/zhidao/pic/item/f9dcd100baa1cd11aa2ca018bf12c8fcc3ce2d74.jpg</string>
	</array>
	<key>Latitude</key>
	<real>39.882293188</real>
	<key>Longitude</key>
	<real>116.314761043</real>
	<key>PicUrl</key>
	<string>http://a.hiphotos.baidu.com/zhidao/pic/item/f9dcd100baa1cd11aa2ca018bf12c8fcc3ce2d74.jpg</string>
	<key>RoomTypes</key>
	<array>
		<dict>
			<key>IsDrawPrice</key>
			<false/>
			<key>RoomInfo</key>
			<dict>
				<key>ActivityTags</key>
				<array/>
				<key>AdditionInfoList</key>
				<array>
					<dict>
						<key>Content</key>
						<string>无窗</string>
						<key>Desp</key>
						<string>其他信息</string>
						<key>Key</key>
						<string>other</string>
					</dict>
					<dict>
						<key>Content</key>
						<string></string>
						<key>Desp</key>
						<string>房间</string>
						<key>Key</key>
						<string>roomtype</string>
					</dict>
				</array>
				<key>ImageList</key>
				<array>
					<string>http://pavo.elongstatic.com/i/Mobile750_750/0000fKpv.jpg</string>
				</array>
				<key>Name</key>
				<string>特惠</string>
				<key>TagInfos</key>
				<array>
					<dict>
						<key>Available</key>
						<true/>
						<key>Color</key>
						<string>#4499ff</string>
						<key>ColorIndex</key>
						<integer>0</integer>
						<key>Description</key>
						<string>活动</string>
						<key>Id</key>
						<integer>14</integer>
						<key>Name</key>
						<string>促销</string>
					</dict>
					<dict>
						<key>Available</key>
						<true/>
						<key>Color</key>
						<string>#ff5555</string>
						<key>ColorIndex</key>
						<integer>0</integer>
						<key>Description</key>
						<string>红包</string>
						<key>Id</key>
						<integer>19</integer>
						<key>Name</key>
						<string>红包</string>
					</dict>
				</array>
			</dict>
		</dict>
		<dict>
			<key>IsDrawPrice</key>
			<false/>
			<key>RoomInfo</key>
			<dict>
				<key>ActivityTags</key>
				<array/>
				<key>AdditionInfoList</key>
				<array>
					<dict>
						<key>Content</key>
						<string>部分房间暗窗</string>
						<key>Desp</key>
						<string>其他信息</string>
						<key>Key</key>
						<string>other</string>
					</dict>
					<dict>
						<key>Content</key>
						<string></string>
						<key>Desp</key>
						<string>房间类型</string>
						<key>Key</key>
						<string>roomtype</string>
					</dict>
				</array>
				<key>ImageList</key>
				<array>
					<string>http://pavo.elongstatic.com/i/Mobile750_750/0000fKpv.jpg</string>
					<string>http://pavo.elongstatic.com/i/Mobile750_750/0000aaUy.jpg</string>
				</array>
				<key>TagInfos</key>
				<array>
					<dict>
						<key>Description</key>
						<string>促销活动</string>
						<key>Name</key>
						<string>促销</string>
					</dict>
					<dict>
						<key>Description</key>
						<string>红包</string>
						<key>Name</key>
						<string>红包</string>
					</dict>
				</array>
			</dict>
		</dict>
	</array>
	<key>commentsOfGuidebook</key>
	<dict>
		<key>total</key>
		<integer>0</integer>
	</dict>
	<key>hotelFacilities</key>
	<array>
		<dict>
			<key>isProvide</key>
			<true/>
			<key>name</key>
			<string>无线上网</string>
			<key>type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>isProvide</key>
			<false/>
			<key>name</key>
			<string>会议室</string>
			<key>type</key>
			<integer>13</integer>
		</dict>
	</array>
	<key>hotelFacilityList</key>
	<array>
		<dict>
			<key>isProvide</key>
			<true/>
			<key>name</key>
			<string>包含wifi</string>
			<key>type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>isProvide</key>
			<false/>
			<key>name</key>
			<string>行李寄存</string>
			<key>type</key>
			<integer>21</integer>
		</dict>
	</array>
    <key>1</key>
    <array>
        <array>
            <array>
                <array>
                    <string>第二级2222</string>
                    <string>第二级3333</string>
                </array>
            </array>
            <array>
                <array>
                    <string>第二级2222</string>
                    <string>第二级3333</string>
                </array>
            </array>
            <array>
                <array/>
                <string>第二级2222</string>
                <string>第二级3333</string>
            </array>
        </array>
        <array>
            <array>
                <array>
                    <string>第二级2222</string>
                    <string>第二级3333</string>
                </array>
            </array>
            <array>
                <array>
                    <string>第二级2222</string>
                    <string>第二级3333</string>
                </array>
            </array>
            <array>
                <array/>
                <string>第二级2222</string>
                <string>第二级3333</string>
            </array>
        </array>
    </array>
</dict>
</plist>
